version: '3.8'

services:
  hockey:
    image: ghcr.io/josefjura/hockey:latest
    container_name: hockey
    networks:
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hockey.rule=Host(`hockey.joseforge.cz`)"
      - "traefik.http.routers.hockey.entrypoints=websecure"
      - "traefik.http.routers.hockey.tls.certresolver=myresolver"
      - "traefik.http.services.hockey.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.www-redirect.redirectregex.regex=^https?://www\\.(.+)"
      - "traefik.http.middlewares.www-redirect.redirectregex.replacement=https://$${1}"
      - "traefik.http.routers.hockey.middlewares=www-redirect"
      - "com.centurylinklabs.watchtower.enable=true"
    environment:
      - DATABASE_URL=sqlite:/app/data/hockey.db?mode=rwc
      - SESSION_SECRET=${SESSION_SECRET}
      - ENVIRONMENT=production
      - RUST_LOG=${RUST_LOG:-info,hockey=debug}
    volumes:
      - /home/beardo/data/hockey:/app/data
    restart: always

networks:
  traefik-net:
    external: true
